/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";

@include establish-baseline;

body {
	background:white url(../img/bg.png) no-repeat center top;
	font-family:Helvetica, Arial, sans-serif;
	color:#686868;

	&.no-bg {
		background-image:none;
	}
}
.main-container {
	width:$container-width;
	margin:auto;
	position:relative;
}
a {
	color:#686868;
	@include hover-link;
}

/* Header */

#logo {
	margin-left:57px;
	float:left;
}
.main-header {
	height:253px;
	padding-top:25px;

	.titles {
		width:200px;
		text-transform:uppercase;
		font-style:italic;
		color:white;
		position:absolute;
		top:225px;
		left:29px;

		.additional {
			margin-bottom:-18px;
			text-align:right;
			position:relative;
			top:-18px;
		}
	}
	.slogan {
		width:754px;
		height:180px;
		background-repeat:no-repeat;
		position:absolute;
		top:170px;
		right:-43px;

		&.top-1 { background-image:url(../img/top_1.jpg) }
		&.top-2 { background-image:url(../img/top_2.jpg) }
		&.top-3 { background-image:url(../img/top_3.jpg) }
	}
}
.main-menu {
	width:674px;
	height:54px;
	margin-top:68px;
	padding-left:10px;
	background:url(../img/mainmenu.png) no-repeat 0 6px;
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
	float:right;

	li {
		float:left;
	}
	a {
		display:block;
		padding:2px 35px 0;
		text-decoration:none;
		color:#c80000;
		line-height:52px;
		position:relative;
	}
	li+li a {
		@include icons-sprite(mainmenu_border, $offset_y: 11px);
	}
	.active, a:hover {
		padding-right:20px;
		margin-right:15px;
		@include icons-sprite(mainmenu_active);
		color:white;

		&:before {
			content:'';
			display:block;
			width: icons-sprite-width(mainmenu_arrow);
			height: icons-sprite-height(mainmenu_arrow);
			@include icons-sprite(mainmenu_arrow);
			position:absolute;
			bottom:2px;
			left:45%;
			z-index:10;
		}
		&:after {
			content:'';
			display:block;
			width:15px;
			height:54px;
			@include icons-sprite(mainmenu_active, $offset_x: -235px);
			position:absolute;
			top:0;
			right:-15px;
			z-index:10;
		}
	}
}

/* Content section */

.content-section {
	width:720px;
	margin-right:-6px;
	padding-top:82px;
	float:right;
}
.aside-section {
	width:222px;
	padding-left:4px;
	float:left;
}
.content-col-left {
	width:295px;
	margin:10px 0;
	padding:0 30px 0 19px;
	float:left;
}
.content-col-right {
	width:295px;
	margin:10px 0;
	padding:0 19px 0 35px;
	border-left:1px solid #f4f4f4;
	float:right;
}

/* Footer */

.main-footer {
	clear:right;
	margin-right:-6px;
	font-size:0.92em;

	p {
		width:716px;
		padding:1em 0;
		margin-left:auto;
		border-right:4px solid #c70000;
		background:#656565 url(../img/footer.png);
		text-align:center;
		color:white;
	}
}
#to-top {
	display:block;
	width:79px;
	height:18px;
	border-bottom:1px solid #ba0000;
	@include icons-sprite(arrow_1, $offset_x: 32px, $offset_y: 11px);
	@include hide-text;
	position:absolute;
	right:-6px;
	bottom:50px;
}

/* Content box */

.content-box-1 {
	width:220px;
	border-left:1px solid #f4f4f4;
	border-right:1px solid #f4f4f4;
	margin-bottom:10px;
	background:white url(../img/border_1.png) no-repeat right bottom;

	h1, h2, h3 {
		padding:0 20px 0 33px;
		border-right:3px solid #c70000;
		background:#686868;
		text-transform:uppercase;
		font-size:0.92em;
		line-height:35px;
		color:white;
	}
}
.content-header {
	padding:0 20px 0 30px;
	border-right:4px solid #c70000;
	background:#686868;
	text-transform:uppercase;
	font-size:0.92em;
	line-height:40px;
	color:white;
}
.content-box {
	margin:10px 0;
	padding:10px;
	border:1px solid #f4f4f4;
	background:white;
	@include clearfix;
	@include content-style;
}

/* Quick contact */

.quick-contact {
	padding:6px 20px 7px 32px;
	font:1.5em/25px 'Calibri', Helvetica, Arial, Sans-serif;

	li {
		padding:5px 0 6px;
	}
	span {
		display:inline-block;
		width:31px;
		height:25px;
		margin-right:6px;
		border-right:1px solid #686868;
		vertical-align:text-bottom;
	}
	.phone {
		@include icons-sprite(phone, $offset_y: 6px);
	}
	.phone-light {
		@include icons-sprite(phone_light, $offset_y: 6px);
	}
	&.light {
		color:#bebaba;

		span {
			border-right-color:#e5e5e5;
		}
	}
}

/* Offer menu */

.offer-menu {
	padding:1px 10px;
	text-transform:uppercase;
	font-size:0.92em;
	line-height:1.28;

	.level-1 {
		padding:15px 8px;		
	}
	.level-1 + .level-1 {
		border-top:1px solid #f4f4f4;
	}
	strong {
		font-weight:normal;
		cursor:pointer;
	}
	ul {
		display:none;
		padding:3px 20px;
		margin-top:15px;
		border-top:1px solid #f4f4f4;

		li {
			padding:10px 0;
		}
	}
	.active {
		strong {
			font-weight:bold;
		}
		ul {
			display:block;
		}
	}
	a.active {
		font-weight:bold;
	}
}

/* Products categories */

.products-categories {
	margin:0 -8px;
	text-align:center;
	@include clearfix;

	li {
		width:221px;
		height:133px;
		padding-top:10px;
		margin:0 8px 37px;
		background:url(../img/border_1.png) no-repeat right bottom;
		float:left;
		position:relative;
	}
	strong {
		display:block;
		font-weight:normal;
	}
	.no {
		display:block;
		padding-left:5px;
		border-left:1px solid #e5e5e5;
		font:2em/23px 'Calibri', Helvetica, Arial, sans-serif;
		color:#e5e5e5;
		position:absolute;
		top:0;
		left:0;
	}
}

/* Intro */

.intro-container {
	padding-top:112px;
}
#intro {
	display:block;
	width:597px;
	height:387px;
	margin:auto;
	background:url(../img/intro.jpg) no-repeat;

	&:hover {
		background-position:left bottom;
	}

	img {
		display:none;
	}
}
.intro-footer {
	padding-top:65px;
	text-align:center;
	font-size:0.92em;
	color:#aea9a9;
}